#!/bin/sh -e
# Confluence startup script

#chkconfig: 2345 80 05
#description: Confluence

# ref http://confluence.atlassian.com/display/DOC/Start+Confluence+automatically+on+Linux+and+UNIX

### BEGIN INIT INFO
# Provides:          confluence
# Required-Start:    $local_fs $remote_fs $network $syslog
# Required-Stop:     $local_fs $remote_fs $network $syslog
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# X-Interactive:     true
# Short-Description: Start/stop Confluence standalone server
### END INIT INFO
 
# Define some variables
# Name of app ( JIRA, Confluence, etc )
APP=confluence
# Name of the user to run as
USER=<%= node[:confluence][:user] %>
# Location of application's bin directory
CONFLUENCE_ROOT=<%= node[:confluence][:install_path] %>
# Location of Java JDK
export JAVA_HOME=<%= node[:java][:java_home] %>

#ipaddr="$(ifconfig eth0 | grep "inet addr:" | awk '{print $2}' | cut -d: -f2)"
#ipport="9980"
#TESTURL="http://${ipaddr}:${ipport}"

case $1 in
  # Start command
  start)
    echo Starting $APP
    /bin/su -m $USER -c $CONFLUENCE_ROOT/bin/start-confluence.sh
    ;;
  
  # Stop command
  stop)
    echo Stopping $APP
    /bin/su -m $USER -c $CONFLUENCE_ROOT/bin/stop-confluence.sh
    echo $APP stopped successfully
    ;;

  # Restart command
  restart)
    $0 stop
    sleep 5
    $0 start
    ;;
  
  *)
    echo Usage: /etc/init.d/$APP {start|restart|stop}
    exit 1
    ;;
esac
exit 0